<h2>
  <a href="<%= '#/boards/' + board.id %>">
    <%= board.escape('title') %>
  </a>
</h2>

<button class="delete">Delete Board</button>
<button class="add-member">Add Member</button>

<ul class="lists-list group">
  <li class="board-list board-list-new"><h3><a href="#" class="new-list">Make a new list!</a></h3></li>
</ul>
