<div class="modal">
  <h3>Warning</h3>

  <p>
    Are you sure that you want to delete "<%= board.escape('title') %>?"
  </p>

  <button class="delete-for-real">Yes</button>
  <button class="cancel">No</button>
</div>
