<label for="new-card-title">Title</label>
<input id="new-card-title" type="text" name="card[title]" value="My new card">
<br>

<label for="new-card-description">Description</label>
<textarea id="new-card-description" name="card[description]" rows="8" cols="40">Description</textarea>
<br>

<button class="submit">Create card!</button>
